name: Production Build, Test, Deploy - To Dev

on:
  push:
    branches: [main]

  workflow_dispatch:

env:
  REACT_APP_BASE_API: ${{secrets.REACT_APP_BASE_API_DEV}}
  REACT_APP_LOGOUT_URL: ${{secrets.LOGOUT_URL_DEV}}
  REACT_APP_RESEARCHER_AUTH_URL: ${{secrets.RESEARCHER_AUTH_URL_DEV}}
  REACT_APP_BASE_URL: ${{secrets.REACT_APP_BASE_URL_DEV}}
  REACT_APP_NHS_SETTINGS_URL: ${{secrets.REACT_APP_NHS_SETTINGS_URL_SANDPIT}}
  REACT_APP_NHS_LOGIN_URL: ${{secrets.REACT_APP_NHS_LOGIN_URL_SANDPIT}}
  REACT_APP_NHS_LOGIN_CLIENT_ID: ${{secrets.REACT_APP_NHS_LOGIN_CLIENT_ID}}
  REACT_APP_NHS_LOGIN_RESPONSE_TYPE: ${{secrets.REACT_APP_NHS_LOGIN_RESPONSE_TYPE}}
  REACT_APP_NHS_LOGIN_SCOPE: ${{secrets.REACT_APP_NHS_LOGIN_SCOPE}}
  REACT_APP_COOKIE_DOMAIN: ".nihr.ac.uk"
  REACT_APP_CONTENTFUL_SPACE_ID: ${{secrets.REACT_APP_CONTENTFUL_SPACE_ID}}
  REACT_APP_CONTENTFUL_DELIVERY_TOKEN: ${{secrets.REACT_APP_CONTENTFUL_DELIVERY_TOKEN}}
  REACT_APP_CONTENTFUL_ENVIRONMENT: ${{secrets.REACT_APP_CONTENTFUL_ENVIRONMENT}}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS credentials - All
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.NIHR_GITHUB_ACTIONS_IAM_ID }}
          aws-secret-access-key: ${{ secrets.NIHR_GITHUB_ACTIONS_IAM_SECRET }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "yarn"
          cache-dependency-path: "yarn.lock"
      - name: Yarn Install
        run: yarn install
      - name: Runing  ESLint
        run: yarn lintnofix
      - name: Build Files
        run: yarn build
      - name: Running Unit Tests
        run: yarn test

      - name: Deploy to S3 - Dev
        if: github.ref == 'refs/heads/main'
        shell: bash
        run: |
          aws s3 sync ./build/ s3://$AWS_S3_BUCKET --delete
          aws cloudfront create-invalidation --distribution-id $(aws cloudfront list-distributions --query "DistributionList.Items[?Aliases.Items[0] == '${{ secrets.VS_NIHR_URL_DEV }}'].Id" --output text) --paths '/*'
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_DEV_BUCKET_NAME }}
